*,
*::before,
*::after {
  color: white;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: bolder;
  font-family: "Roboto Mono", monospace;
  
}

body {
  align-items: center;
  justify-content: center;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/24/20/48/programming-1857236_960_720.jpg");
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#time {
  position: absolute;
  align-items:center;
  justify-content:center;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
  font-weight: bolder;
  padding: 20px;
  color:rgb(251, 255, 0)w;
  background: black;
  border-radius: 25px;
  margin: 25px;
  top: 0;
  right: 0;
}


#start-prompt {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: rgba(56, 23, 204, 0.94);
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  width: 800px;
  max-width: 80%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: inset 0px 0px 10px 2px rgb(14, 47, 233),
    0px 0px 5px rgb(14, 47, 233);
  background-color: rgba(56, 23, 204, 0.94);
}

.start-screen h1 {
  display: flex;
  text-align: center;
  margin: auto;

}

#js-color {
  color: orange;
  padding-right: 10px;
}

#good-luck {
  color: rgb(28, 224, 55);
  font-weight: bold;
  font-size: 33px;
}

.quiz-screen {
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 80%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: inset 0px 0px 10px 2px rgb(14, 47, 233),
    0px 0px 5px rgb(14, 47, 233);
  background-color: rgba(56, 23, 204, 0.94);
}


.start-btn {
  display: flex;
  text-align: center;
  align-self: center;
  justify-content: center;
  border: none;
  background-color: rgb(35, 160, 52);
  border-radius: 25px;
  color: black;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: rgb(220, 228, 221);
  border-radius: 25px;
  color: black;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.question {
  font-size: xx-large;
  text-align: center;
  margin: 30px;
}
/* BTN Class for: - Question buttons - Start - Next - Finish - Submit - Restart */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  color: black;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.finish-screen {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  width: 800px;
  max-width: 80%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: inset 0px 0px 10px 2px rgb(14, 47, 233),
    0px 0px 5px rgb(14, 47, 233);
  background-color: rgba(56, 23, 204, 0.94);
}
/* BUTTON HoVeR Color */
.btn:hover {
  background-color: rgb(74, 180, 241);
}
/* QUESTION BUTTON GRID flex box */
.btn-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* TARGET btton */
.btn-grid button {
  width: 40%;
}
/* USED TO STYLE AND COLOR = CORRECT BUTTONS */
.btn.correct {
  color: black;
  font-size: 25px;
  font-weight:bolder;
  box-shadow: inset 0px 0px 10px 5px rgba(184, 0, 221, 0.8,)
  0px 0px 15px rgba(184, 0, 221, 0.8);
  
}
/* USED TO SYTLE AND COLOR = WRONG/INCORRECT */
.btn.incorrect {
  font-weight: 8px;
  box-shadow: inset 0px 0px 9px 10px rgba(146, 19, 19, 0.8),
  0px 0px 10px rgb(146, 19, 19);
  color: rgb(146, 19, 19);
}
/* FINISH SCREEN BUTTON */
.finish-screen button{
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}
/* END SCREEN STYLE */
.Congrats {
  color: rgb(215, 17, 255);
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  border: solid si;
  
}


/* NEXT & FINISH BUTTON controls */
/* could work on a better name .controls --remove if renamed* */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
#high-score {
  color:blueviolet;
  list-style-type: none;
}
#initials {
  font-size: smaller;
  color:black;
}

/* HIDDEN USED TO HIDE everything in START SCREEN - QUESTION SCREEN - FINISH SCREEN  powered by JS*/
.hidden {
  display: none;
}
/* @media MOBLE OPTIMIZATION small-screen-size/phone  */
@media only screen and (max-width: 600px) {
  /* only QUESTION buttons are CALLED OUT */
  .btn-grid button {
    width: 80%;
  }
}
  @media only screen and (max-width: 410px) {
    .question {
      font-size: smaller;
    }
      #initials {
        color: red;
        font-size: 10px;
      }
  }
  @media only screen and (max-width: 345px) {
  *,
  *::before,
  *::after {
  font-size: 18px;
}
  .btn {
  font-size: small;
}
 .Congrats{
   font-size: small;
}
}